<div class='row about'>
    <h4>Intro</h4>
    <p>
        DailyNode is a aggregator of Node.js things: News, Blog, Video, Tutorial, Module, Framework, Tool. The content mainly is 
        crawled from internet and RSS. Now we have about 2K items. We want it become the biggest, completest, timely Node.js hub.
    </p>
    <h4>Tech</h4>
    <p>
        DailyNode is build on Koa.js and run on v0.11.13. Content was crawled with feedParser and cheerio.
    </p>
    <h4>Intent</h4>
    <p>
        We want build a place where you can know what's happening in Node.js land. And the newest tech use about Node.js. We build it 
        because there are a lot Noder like me cared about Node.js. We hope Node.js can grow well, more developer use and love it.
    </p>
    <h4>Resource</h4>
    <ul>
        <li>Node.js blog</li>
        <li>NPM Blog</li>
        <li>StrongLoop Blog</li>
        <li>Nodejitsu Blog</li>
        <li>Nodeweekly</li>
        <li>EchoJs</li>
        <li>Joyent Node.js video</li>
        <li>Joyent Node.js</li>
    </ul>
    <h4>RoadMap</h4>
    <ul>
        <li>Add more resource</li>
        <li>Enable like and share</li>
        <li>Enable comment</li>
    </ul>


</div>