<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Daily Node - The most timely and complete Node aggregator</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='keywords' content='Daily Node, Node.js news, blog, post, module, tutorial, release'/>
    <meta name='description' content='Daily Node is a hub of Node.js news, blog, post, and a lot. The content is complete, timely and crawled from internet, and contribute by Noders'/>
    <link rel="shortcut icon" href="http://yuan.rednode.cn/assets/img/node44.png">
  </head>
  <body>
      <%- body %>
  </body>
</html>
