<% for (var i in posts) { %>
<% var p = posts[i] %>
<div class="row">
    <div class="listing <%=: p.category | cateClass %>">
        <div class="shape">
            <div class="shape-text"><a href="?category=<%= p.category %>" style='color:white;'><%= p.category || '' %></a></div>
        </div>
        <div class="listing-content">
            <h3 class="lead">
                <a href='/item/<%= p._id %>'><%= p.title %></a>
				<% if (p.top) { %>
				<i class="fa fa-arrow-up" style="color:#5cb75c" ></i>
				<% } %>
            </h3>
            <p>
                <% if (p.pubDate) { %>
                    Published at <%=: p.pubDate | formatDate  %>
                <% } else { %>
                    Created at <%=: p.createdTime | formatDate  %>
                <% }%>
                <% if (p.author) { %>
                    by <%= p.author %>
                <% } %>
                <% if (p.source) { %>
                    at <%= p.source %>
                <% } %>
                &nbsp;<a href="<%= p.link %>" target='_blank'>View Source</a>
                 | 
                <!-- <a href="/item/<%= p._id %>"><i class="fa fa-comments-o"></i></a> -->
                <a class='likeBtn' data-href="/post/like/<%= p._id %>">
                    <span class='num'><%= p.like %></span>/<%= p.visit %>
                    <i class="fa fa-thumbs-o-up"></i>
                    <span class='message myhide'>Already liked</span>
                </a>
            </p>
        </div>
    </div>
</div>
<% } %>

<div class='pagination'>
	<% var str = keyword ? '&keyword='+keyword : '' %>
	<% str += category ? '&category='+category : '' %>
    <% if (curPage - 1 > 0) { %>
    <li><a href="?page=<%= curPage - 1 %><%= str %>">&laquo;</a></li>
    <% } %>
    <% if (curPage - 2 > 0) { %>
    <li><a href="?page=<%= curPage - 2 %><%= str %>"><%= curPage - 2 %></a></li>
    <% } %>
    <% if (curPage - 1 > 0) { %>
    <li><a href="?page=<%= curPage - 1 %><%= str %>"><%= curPage - 1 %></a></li>
    <% } %>
    <li class='active'><a href="?page=<%= curPage %><%= str %>"><%= curPage %></a></li>
    <% if (curPage + 1 <= totalPage) { %>
    <li><a href="?page=<%= curPage + 1%><%= str %>"><%= curPage +1 %></a></li>
    <% } %>
    <% if (curPage + 2 <= totalPage) { %>
    <li><a href="?page=<%= curPage + 2 %><%= str %>"><%= curPage + 2 %></a></li>
    <% } %>
    <% if (curPage + 1 <= totalPage) { %>
    <li><a href="?page=<%= curPage + 1%><%= str %>">&raquo;</a></li>
    <% } %>
</div>
