<link rel="stylesheet" type="text/css" href="/css/spinner.css">
<div class='row item'>
    <h3>
        <a href="<%= post.link %>" target='_blank'>
            <%= post.title %>
        </a>
    </h3>
    <p>
        <% if (post.pubDate) { %>
            Published at <span class='text-success'><%=: post.pubDate | formatDate %></span>
        <% } %>
        <% if (post.author) { %>
            by <span class='text-success'><%= post.author %></span>
        <% } %>
        <% if (post.source) { %>
            from <span class='text-success'><%= post.source %></span>
        <% } %>
        <% if (post.category) { %>
            in <span class='text-success'><%= post.category %></span>
        <% } %>
        <wb:share-button class='shareBtn' appkey="690cIX" addition="simple" type="icon" ralateUid="3922574721" default_text="<%= post.title %>" picture_search="false"></wb:share-button>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="coderpana" data-text="<%= post.title %>"></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </p>
    <div style='width:100%;height:500px;'>
        <div class="spinner" style='margin-top:200px'></div>
    </div>
    <iframe id='item_iframe' class='post_content' src="/preview/<%= post._id %>" style='display:none'></iframe>
</div>
<script src="/lib/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('iframe.post_content').on('load', function () {
            $('.spinner').parent().remove();
            $(this).show();
        }).on('error', function () {
            $('.spinner').parent().remove();
            $(this).show();
        })
    })
</script>

