<!DOCTYPE html>
<html>
  <head>
    <title>Daily Node</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/pure/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/pure/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/pure/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/app.css">
  </head>
  <body>
    <%- body %>
  </body>
</html>