<div class='row'>
    <div class='col-md-8 showinfo' style='background:url("/show-img/show<%=parseInt(4*Math.random())%>.png") center no-repeat'></div>
    <div class='col-md-4 loginform'>
        <form role="form" method='post' action='/login'>
            <legend> Login </legend>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name='email' placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name='password' placeholder="Password" required>
            </div>
            <div class="checkbox">
                <label>
                  <input type="checkbox"> Check me out
                </label>
            </div>
            <button type="submit" class="btn btn-success">Login</button>
            <a href="/register" class='btn'>Register</a>
            <% if (error) { %>
            <br><br>
            <span class='text-danger'><%= error %></span>
            <% } %>
        </form>
    </div>
</div>
