<h1>Post Lists &nbsp; <%= total %></h1>


<table class='pure-table pure-table-stripe pure-table-horizontal' style='width: 90%'>
    <thead>
        <tr>
            <th>#</th>
            <th style='width: 500px'>Title</th>
            <th>PubDate</th>
            <th>Author</th>
            <th>Source</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i in posts) { %>
        <% var p = posts[i] %>
        <tr>
            <td><a href="/post/<%= p._id %>">#</a></td>
            <td><a href='<%= p.link %>' target='_blank'><%= p.title %></a></td>
            <td><%=: p.pubDate | formatDate %></td>
            <td><%=: p.author | hn %></td>
            <td><%=: p.source | hn %></td>
            <td>
                <a href="/post/del/<%=p._id%>?_method=DELETE"><i class="fa fa-times"></i></a>
                <% if (!p.recommend) { %>
                <a href="/post/recommend/<%=p._id%>?_method=PUT"><i class="fa fa-thumbs-o-up"></i></a>
                <% } %>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>
<div class='hcenter paginator'>
    <ul class="pure-paginator">
        <% if (curPage > 1) { %>
        <li><a class="pure-button prev" href="/post?page=<%= curPage - 1 %>">&#171;</a></li>
        <% } %>
        <% if (curPage - 2 > 0) { %>
        <li><a class="pure-button" href="/post?page=<%= curPage - 2 %>"><%= curPage - 2 %></a></li>
        <% } %>
        <% if (curPage - 1 > 0) { %>
        <li><a class="pure-button" href="/post?page=<%= curPage - 1 %>"><%= curPage - 1 %></a></li>
        <% } %>
        <li><a class="pure-button pure-button-active" href="/post?page=<%= curPage %>"><%= curPage %></a></li>
        <% if (curPage + 1 < totalPage) { %>
        <li><a class="pure-button prev" href="/post?page=<%= curPage + 1 %>"><%= curPage + 1 %></a></li>
        <% } %>
        <% if (curPage + 2 < totalPage) { %>
        <li><a class="pure-button prev" href="/post?page=<%= curPage + 2 %>"><%= curPage + 2 %></a></li>
        <% } %>
        <% if (curPage < totalPage) { %>
        <li><a class="pure-button next" href="/post?page=<%= curPage + 1 %>">&#187;</a></li>
        <% } %>
    </ul>
</div>

<!-- 分页只需要显示当前页附近几页 -->