<h1><a href="<%= post.link %>" target='_blank'><%= post.title %></a></h1>

<form class="pure-form pure-form-stacked" method="post" action="/post/<%= post._id %>">
    <fieldset>
        <legend>Update Post</legend>
        <input name='_id' type='hidden' value='<%= post._id %>'/>
        <input name='_method' value='PUT' type='hidden'/>
        <label for="title">Title</label>
        <input id="title" type="text" value="<%= post.title || '' %>" name='title'>

        <label for="author">Author</label>
        <input id="author" type="text" value="<%= post.author || '' %>" name='author'>

        <label for="source">Source</label>
        <input id="source" type="text" value="<%= post.source || ''%>" name='source'>
		
		<br>
        <button type="submit" class="pure-button pure-button-primary">Update</button>
    </fieldset>
</form>

<div>
    <p>CreatedTime: <%=: post.createdTime | formatDate %></p>
    <p>PubDate: <%=: post.pubDate | formatDate %></p>
	<textarea cols="100" rows="20" id='extractContent'></textarea>
    <p>
		Description:
		<button data-id="<%= post._id %>" data-link="<%= post.link %>" type='button' class='getcontent pure-button pure-button-primary'>Get Content</button>
		<br/> 
		<%- post.description %>
	</p>
</div>
<script src="/lib/jquery-2.1.1.min.js"></script>
<script>
	$(function () {
		$('.getcontent').click(function () {
			var $this = $(this)
			var id = $this.data('id')
			var link = $this.data('link')
			$.ajax({
				url: "/post/getcontent/" + id,
				dataType: 'JSON',
				type: 'POST',
				data: {link: link},
				success: function (result) {
					if (result.code == 0) {
						$('#extractContent').val(result.content)
					}
				}
			})
		})
	
	})
</script>
