<h1>Posts &nbsp; <%= total %></h1>

<table class='pure-table pure-table-stripe pure-table-horizontal' style='width: 90%'>
    <thead>
        <tr>
            <th>#</th>
            <th style='width: 500px'>Title</th>
            <th>CreatedDate</th>
            <th>Source</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i in posts) { %>
        <% var p = posts[i] %>
        <tr>
            <td><a href="/post/<%= p._id %>">#</a></td>
            <td><a href='<%= p.link %>' target='_blank'><%= p.title %></a></td>
            <td><%=: p.createdTime | formatDate %></td>
            <td><%=: p.source | hn %></td>
            <td>
                <select class='cateSelect' data-id='<%= p._id %>'>
                    <option></option>
                    <% for (var i in cates) { %>
                    <% var c = cates[i] %>
                    <option value='<%= c.name %>' <%if(p.category==c.name){%>selected<%}%>><%= c.name %></option>
                    <% } %>
                </select>
                <a data-id='<%=p._id%>' class='delete'><i class="fa fa-times"></i></a>
                <% if (!p.recommend) { %>
                <a data-id='<%=p._id%>' class='recommend'><i class="fa fa-thumbs-o-up"></i></a>
                <% } %>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>

<div class='hcenter paginator'>
    <ul class="pure-paginator">
        <% if (curPage > 1) { %>
        <li><a class="pure-button prev" href="?page=<%= curPage - 1 %>">&#171;</a></li>
        <% } %>
        <% if (curPage - 2 > 0) { %>
        <li><a class="pure-button" href="?page=<%= curPage - 2 %>"><%= curPage - 2 %></a></li>
        <% } %>
        <% if (curPage - 1 > 0) { %>
        <li><a class="pure-button" href="?page=<%= curPage - 1 %>"><%= curPage - 1 %></a></li>
        <% } %>
        <li><a class="pure-button pure-button-active" href="?page=<%= curPage %>"><%= curPage %></a></li>
        <% if (curPage + 1 <= totalPage) { %>
        <li><a class="pure-button prev" href="?page=<%= curPage + 1 %>"><%= curPage + 1 %></a></li>
        <% } %>
        <% if (curPage + 2 <= totalPage) { %>
        <li><a class="pure-button prev" href="?page=<%= curPage + 2 %>"><%= curPage + 2 %></a></li>
        <% } %>
        <% if (curPage < totalPage) { %>
        <li><a class="pure-button next" href="?page=<%= curPage + 1 %>">&#187;</a></li>
        <% } %>
    </ul>
</div>
<script src="/lib/jquery-2.1.1.min.js"></script>
<script src="/js/dashboard.js"></script>
