<div class='row submit'>
    <h3 class='col-sm-offset-1'>Submit a new post</h3>
    <form class="form-horizontal" role="form" method="post" action="/submit">
      <div class="form-group">
        <label for="title" class="col-sm-1 control-label">Title</label>
        <div class="col-sm-4">
          <input name='title' type="text" class="form-control" id="title">
        </div>
      </div>
      <div class="form-group">
        <label for="url" class="col-sm-1 control-label">Link</label>
        <div class="col-sm-4">
          <input name='url' type="url" class="form-control" id="url">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-4">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>
</div>