body {
    height: 100%;
    background-color: #5eb95e;
    color: white;
}

h3 {
    margin-left: 23px;
}

ul {
    list-style-type: disc;
    font-size: 16px;
    line-height: 30px;
}

a {
    color: white;
}

a:hover {
    color: white;
};

a:visited {
    color: white;
};