body{
    border-top: #5cb75c solid 5px;
}

header {
    height: 100px;
}

footer {
    height: 100px;
    padding: 50px 0px;
    text-align: center;
}

a:hover {
    text-decoration: none;
}

header h1{
    display: inline-block;
}

.sitename {
    position:relative;top:5px;
}