{
    "RSS": [
        {
            "name": "NPM",
            "url": "http://blog.npmjs.org/rss"
        },
        {
            "name": "Nodejitsu",
            "url": "http://blog.nodejitsu.com/rss/"
        },
        {
            "name": "EchoJS",
            "url": "http://www.echojs.com/rss"
        },
        {
            "name": "Joyent Node video",
            "url": "https://www.joyent.com/developers/node/video-feed"
        },
        {
            "name": "Joyent Node",
            "url": "https://www.joyent.com/developers/node/feed"
        },
		{
			"name": "StackOverflow",
			"url" : "http://stackoverflow.com/feeds/tag?tagnames=node.js&sort=featured"
		},
		{
			"name": "StackOverFlow",
			"url": "http://stackoverflow.com/feeds/tag/node.js"
		}
    ]
}
